*{
    margin: 0px;
    padding: 0px;
}
.Tittle{
    color: white;
}


/* Navbar */
.nanbar-nav{
    margin: 100px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
    position: relative;
    margin-right: 55px;
   
    padding: 25px 14px;
   
    font-size: 13px;
    font-weight: 600;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary) !important;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: var(--dark) !important;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--primary);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1px;
    }

   
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
   
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:hover{
   
    
        background-color: red;
        color: white;
border: 2px solid white;

    }
.hero-button {
    color: #fff;
    display: block;
    text-align: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25);
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 0px;
    width: 120px;
    height: 40px;
    text-decoration: none;
    margin: auto;
}

/*** Hero Header ***/

.text-dark{
    color: black;
}


@media (max-width:1467px){
    .carousel-caption{
        height: 360px;
    }
   
}
 @media (max-width:1060px){
    .carousel-caption{
        height: 300px;
      
    } 
    .carousel-caption h1 {
        font-size: 35px;
    }
    .carousel-caption h1 p {
        font-size: 25px;
    }
} 
@media (max-width:998px){
    .carousel-caption{
        height: 150px;
     
    }
    .p-3{
        font-size: 15px;
    }
    
} 



/********************************************************************/

.img-fluid {
    max-width: 100%;
    height: auto;
}

.carousel-item {
    position: relative;
    display: none;
    float: left;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 50%;
}

.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    right: 15%;
    padding-bottom: 1.25rem;
}



.hi-icon {
    font-size: 44px;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #F44336;
    margin: auto;
    display: table;
    margin-bottom: 5px;
    width: 85px;
    height: 85px;
    line-height: 85px;
    border-radius: 50%;
}
.recent-button{
    color: #fff;
    display: block;
    text-align: center;
    justify-content: center;
    
    padding: 5px 5px;
    font-size: 16px;
    font-weight: 300;
    
    border-radius: 0px;
    width: 150px;
    height: 40px;
    text-decoration: none;
    margin: auto;
    
}
.recent-button:hover{
background-color: rgba(252, 235, 235, 0.87);
border:1px solid rgba(252, 235, 235, 0.87);

}


.footer-widget {
    font-weight: 300;
    opacity: 0.8;
    color: #fff;
    padding-top: 50px;
}

.copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}
.soc-media {
    background: #333;
    border-bottom: 1px solid #444;
    text-align: center;
}
.soc-more i {
    font-size: 46px;
    color: #fff;
    opacity: 0.8;
    -webkit-transition: all 0.25s linear;
    -moz-transition: all 0.25s linear;
    -o-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
.soc-medeia-footer {
   
    transition: all 0.25s linear;
    padding: 0;
}

@media (max-width:450px) {
    
    body{
        width: 500px;
    }
    }
    .hover-effect{
background-color: #333;
    }
    .hover-effect:hover{
        color: #F44336;
    }

   
    /* .aio-icon.none {
        display: inline-block;
        height: 1em;
        width: 1em;
        text-align: center;
        line-height: 1em;
        color: #fff;
        font-size: 40px;
        -moz-box-sizing: content-box;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    } */
    .aio-icon-top{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media(max-width:572px){
        .span-footer{
          display: none;
        }
    };

    .navbar-brand {
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        text-decoration: none;
        white-space: nowrap;
    }
@media(max-width:500px){
    .navbar-brand .img{
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1.5rem;
        font-size: 1.25rem;
       
    }
}
    